@import "../../styles/colors";

.topic-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $color-secondary;
  color: $color-text;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    padding: 8px;
    font-size: 0.9rem;
  }
}
